@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: #171717; /* Dark text color for contrast */
  background: #ffffff !important; /* Force white background */
  font-family: Arial, Helvetica, sans-serif;
}
